.about-main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.about-main-section .about-me-image {
    width: 30vw;
    margin-left: 2rem;
    height: auto;
    max-width: 450px;
}

@media (max-width: 800px) {
    .about-main-section {
        flex-direction: column;
        justify-content: center;
    }

    .about-main-section .about-me-image {
        margin-top: 2rem;
        height: 30vh;
        width: auto;
    }
}