.home-main-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
}

.home-main-section .img-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.home-main-section .lady-image {
    background-image: url('images/about-me-image.png');
    flex-grow: 1;
    background-repeat: no-repeat;
    max-height: 70vh;
    min-width: 30vw;
    background-size: contain;
    background-position: bottom left;
}

.home-main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
    position: relative;
}



.home-page-circle-1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgba(237, 199, 183, 0.2);
    bottom: 5%;
    left: 11%;
    z-index: -1;
}

.home-page-circle-2 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: rgba(186, 178, 181, 0.1);
    top: 20%;
    left: 50%;
    z-index: -1;
}

.home-page-circle-3 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: rgba(237, 199, 183, 0.2);
    bottom: 10%;
    right: 11%;
    z-index: -1;
}

.scroll-wrapper {
    position: absolute;
    top: 100%;
}

.scroll-wrapper img {
    margin: 2rem 6rem;
    animation: scroll-down-bounce 1s alternate infinite linear;
}

@keyframes scroll-down-bounce {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-20px);
    }
  }


  @media (max-width: 950px) {
    .home-main-section .img-wrapper {
        display: none;
    }

    .home-main-section {
        justify-content: center;
    }

    .title {
        font-size: 2em;
    }

    .sub-title {
        font-size: 1em;
    }

    .scroll-text {
        font-size: .8em;
    }

    .nav-list {
        flex-direction: column;
    }
}