footer {
    display: flex;
    height: 10vh;
    width: 80%;
    margin: auto;
    align-items: center;
    background-color: rgba(186, 178, 181, 0.3);
    width: 100%;
    padding: 0 10% 0 10%;
}

nav {
    flex: 2;

    .footer-nav-links {
        justify-content: space-between;
        list-style-type: none;
    }

    .nav-link {
        text-decoration: none;
    }
}


.footer-title {
    font-size: 1em;
    font-weight: normal;
    color: inherit;
}

#footer-links {
    justify-content: flex-end;

    li:first-of-type {
        margin-right: 1em;
    }
}


.nav-link img {
    width: 1em;
    margin-right: .3em;
  }
