.about-main-section {
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 90vh;
    align-items: center;

    .title {
        color: #AC3B61;
    }

    .resume-btn {
        margin-top: 3rem;
    }
}

.about-call-to-action {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
    width: 40vw;
    position: relative;
}

.about-main-section .about-me-image-wrapper {
    grid-column: 3/4;
    height: 100vh;


    img {
        width: 400px;
    }
}