.projects-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: auto;
  min-height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 3rem;
  margin-top: 0;
}

.project-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 300px;
  height: 300px;
  padding: 2rem;
  margin: 1em;
  text-align: center;
  border: 1px solid #AC3B61;
  border-radius: 8px;
}

@media (max-width: 1223px) {
  .project-cards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  min-height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-title {
  font-weight: 600;
  font-size: 3em;
  margin: 0;
  color: #AC3B61;
  margin-right: 4rem;
}

.btn {
  color: white;
  background-color: #123C69;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.btn:hover,
.btn:focus {
  background-color: #195594;
}

.contact-form {
  width: 50vw;
  max-width: 50%;
  padding: 2rem 4rem;
  border: 1px solid #AC3B61;
  border-radius: 8px;
}

.input-group {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-group:last-child {
  margin-bottom: 0;
}

.input-group label {
  font-weight: 500;
  margin-bottom: .5rem;
}

.input-group input,
.input-group textarea {
  outline: none;
  background: none;
  border: 1px solid #AC3B61;
  border-radius: 5px;
  font-size: 1em;
  padding: .5em;
  color: inherit;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #123c69;
}

textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 200px;
}

@media (max-width: 900px) {
  .contact-main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 6rem auto;
  }
  .contact-form {
    width: 100vw;
    max-width: 100%;
  }
  .contact-title {
    margin: 0 0 3rem 0;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  width: 80%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(186, 178, 181, 0.3);
  width: 100%;
  padding: 0 10% 0 10%;
}

nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

nav .footer-nav-links {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

nav .nav-link {
  text-decoration: none;
}

.footer-title {
  font-size: 1em;
  font-weight: normal;
  color: inherit;
}

#footer-links {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#footer-links li:first-of-type {
  margin-right: 1em;
}

.nav-link img {
  width: 1em;
  margin-right: .3em;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #123C69;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'Poppins', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  width: 80%;
  margin: auto;
  margin-top: .5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 10%;
  left: 10%;
  z-index: 1;
  color: inherit;
}

.logo-container, .nav-links, .footer-nav-links, .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-container .logo {
  margin-left: 1em;
}

nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

nav .nav-links {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

nav .nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: #AC3B61;
  -webkit-transition: 300ms linear;
  transition: 300ms linear;
}

.links {
  height: auto;
}

.nav-toggle {
  font-size: 1.5rem;
  color: inherit;
  background: transparent;
  border-color: transparent;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  cursor: pointer;
  display: none;
}

.nav-toggle:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main {
  position: relative;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  min-height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.introduction {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  color: #123C69;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #123C69;
}

span {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

span.fade {
  color: #AC3B61;
}

.cta {
  padding: 50px 0 0 0;
}

.cta .cta-resume {
  border: 2px solid #123C69;
  background: transparent;
  color: #123C69;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.cta .cta-about {
  background: #123C69;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: white;
  margin: 30px 0 0 30px;
}

.cta-resume:hover,
.cta-resume:focus {
  background-color: rgba(179, 190, 240, 0.1);
}

.cta-about:hover,
.cta-about:focus {
  background-color: #195594;
}

.cover {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cover img {
  height: 100%;
}

.home-page-circle-1 {
  position: absolute;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: rgba(161, 174, 231, 0.1);
  top: 10%;
  right: 0%;
  z-index: -1;
}

.home-page-circle-2 {
  position: absolute;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: rgba(179, 190, 240, 0.1);
  top: 70%;
  right: 60%;
  z-index: -1;
}

.scroll-wrapper {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
}

.scroll-wrapper img {
  margin: 2rem 3.5rem;
  -webkit-animation: scroll-down-bounce 1s alternate infinite linear;
          animation: scroll-down-bounce 1s alternate infinite linear;
}

@-webkit-keyframes scroll-down-bounce {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes scroll-down-bounce {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@media (max-width: 1223px) {
  .presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introduction {
    margin-top: 15vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
    margin-top: 8rem;
  }
  .intro-text p {
    font-size: 18px;
  }
  .cta {
    padding: 10px 0 0 0;
  }
  .cover img {
    height: 40%;
    margin-top: 100px;
  }
}

@media (max-width: 400px) {
  .cta .cta-about {
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
    position: relative;
    width: 100%;
  }
  .nav-toggle {
    display: block;
    margin-left: 4rem;
  }
  .nav-links a {
    font-size: 1rem;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    display: block;
    min-width: 100vw;
    padding: 1em 0;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 0;
    overflow: hidden;
    -webkit-transition: 500ms linear;
    transition: 500ms linear;
  }
  .nav-links a:hover {
    background-color: #a1aee7;
    color: white;
  }
  .show-links {
    height: 10rem;
    min-width: 100vw;
  }
}
/*# sourceMappingURL=style.css.map */