@import 'projects';
@import 'contact';
@import 'footer';

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #123C69;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    height: 10vh;
    width: 80%;
    margin: auto;
    margin-top: .5em;
    align-items: center;
    position: absolute;
    top: 0;
    right: 10%;
    left: 10%;
    z-index: 1;
    color: inherit;
}


.logo-container, .nav-links, .footer-nav-links, .btn-container {
    display: flex; 
}

.logo-container {
    flex: 2;
    align-items: center;

    .logo {
        margin-left: 1em;
    }
}

nav {
    flex: 2;

    .nav-links {
        justify-content: space-between;
        list-style-type: none;
    }

    .nav-link {
        text-decoration: none;
    }
}

.nav-link:hover {
  color: #AC3B61;
  -webkit-transition: 300ms linear;
  transition: 300ms linear;
}

.links {
    height: auto;
}

.nav-toggle {
    font-size: 1.5rem;
    color: inherit;
    background: transparent;
    border-color: transparent;
    transition: 1s linear;
    cursor: pointer;
    display: none;
}

.nav-toggle:hover {
    transform: rotate(180deg);
  }

main {
    position: relative;
}

.presentation {
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 90vh;
    align-items: center;
    position: relative;
}



.introduction {
    flex: 1;
}

.intro-text {
    h1 {
        font-size: 44px;
        font-weight: 500;
        color: #123C69;
    }

    p {
        margin-top: 5px;
        font-size: 22px;
        color: #123C69;
    }
}

span {
    transition: all 1s ease;
}

span.fade {
    color: #AC3B61;
}


.cta {
    padding: 50px 0 0 0;
    
    .cta-resume {
        border: 2px solid #123C69;
        background: transparent;
        color: #123C69;
        width: 150px;
        height: 50px;
        cursor: pointer;
        font-size: 16px;
    }

    .cta-about {
        background: #123C69;
        width: 150px;
        height: 50px;
        cursor: pointer;
        font-size: 16px;
        border: none;
        color: white;
        margin: 30px 0 0 30px;
    }
}

.cta-resume:hover,
.cta-resume:focus {
  background-color: #eee;
}

.cta-about:hover,
.cta-about:focus {
    background-color: #195594;
}

.cover {
    flex: 1;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.cover img {
    height: 100%;
}


.home-page-circle-1 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: rgba($color: #a1aee7, $alpha: 0.1);
    top: 10%;
    right: 0%;
    z-index: -1;
  }
  
  .home-page-circle-2 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: rgba($color: #b3bef0, $alpha: 0.1);
    top: 70%;
    right: 60%;
    z-index: -1;
  }


  .scroll-wrapper {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 20%);

    img {
        margin: 2rem 3.5rem;
        animation: scroll-down-bounce 1s alternate infinite linear;
    }
  }

  @keyframes scroll-down-bounce {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-20px);
    }
  }


  @media (max-width: 1223px) {
    .presentation {
        flex-direction: column;
    }

    .introduction {
        margin-top: 15vh;
        text-align: center;
    }

    .intro-text {
        h1 {
        font-size: 30px;
        margin-top: 8rem;
        }

        p {
            font-size: 18px;
        }
    }

    .cta {
        padding: 10px 0 0 0;

    }
    
    .cover img {
        height: 40%;
        margin-top: 100px;
    }
  }

  @media (max-width: 400px) {
    .cta .cta-about {
        margin-left: 0;
    }
  }

  @media (max-width: 800px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        position: relative;
        height: 10vh;
    }

    .nav-toggle {
          display: block;
          margin-left: 4rem;
      }

    .nav-links a {
        font-size: 1rem;
        transition: 1s linear;
        display: block;
      }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 0;
        overflow: hidden;
        transition: 500ms linear;

        .nav-link:hover {
            background-color: #eee;
        }
      }

    .show-links {
        height: 10rem;
      }


  }



 



